<h1></h1>

<div class="col-md-10">
  <%= form_for @article do |f| %>
    <div class="form-group">
      <%= f.text_field :title, class: 'form-control', placeholder: "Enter wikiota title here" %>
    </div>
     <div class="form-group">
        <%= f.text_area :body, rows: 10, class: 'form-control', placeholder: "Start writing wikiota article here." %>
      </div>
      <div class="form-group">
        <%= f.submit "Save", class: 'btn btn-warning' %>
      </div>
      <div class="form-group">
        <%= f.submit "Add Contributor", class: 'btn btn-info' %>
    <% end %>
  </div>
</div>