
<div class="container">
  <h2><%= markdown @article.title %></h2>

    <small>
      submitted <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.name %><br/>
    </small>

  <h3><%= markdown @article.body %></h3>

    <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-warning' %>

    <small>
      edited <%= time_ago_in_words(@article.updated_at) %> ago by
      <% if @article.last_user %>
       <%= @article.last_user.name %><br/>
      <% else %>
        <%= @article.user.name %><br/>
      <% end %>
    </small>
</div>


