
<div class="container">
  <h2>Wikiota Title</h2>
    <div class="media-heading">
      <%= markdown @article.title %>
    </div>
        <small>
          submitted <%= time_ago_in_words(@article.created_at) %> ago by <%= @article.user.name %><br/>
        </small>
  <h2>Wikiota Article</h2>
<div class="media-body">
  <%= markdown @article.body %>
</div>
    <small>
      edited <%= time_ago_in_words(@article.updated_at) %> ago by
      <% if @article.last_user %>
       <%= @article.last_user.name %><br/>
      <% else %>
        <%= @article.user.name %><br/>
      <% end %>
    </small>
    <% if policy(@article).update? %>
    <%= link_to "Edit", edit_article_path(@article), class: 'btn btn-warning' %>
    <% end %>

</div>


