<!DOCTYPE html>
<html>
<head>
  <title>WikiotaDev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://js.stripe.com/v1', 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
      <ul class="nav nav-pills">
        <li><%= link_to "Wikiota", root_path, class: 'btn btn-primary btn-sm' %></li>
        <li><%= link_to "About", about_path, class: 'btn btn-info btn-sm' %></li>
        <li><%= link_to "Premium", new_charge_path, class: 'btn btn-success btn-sm' %></li>
        <li><%= link_to "Wiki List", articles_path, class: 'btn btn-warning btn-sm' %></li>

  <div id="searchform" class="search">
  <li><%= form_tag articles_path, :method => :get do %>
    <%= text_field_tag :search, params[:search], placeholder: "search field" %>
    <%= submit_tag "Search", class: 'btn btn-default', :name => nil %>
  </li>
  <% end %>
  </div>

      <div class="pull-right user-info">
        <% if current_user %>
          Hello <%= link_to (current_user.name || current_user.email), current_user %>!
          <%= link_to edit_user_registration_path, class: 'btn btn-primary btn-sm' do %>
            <span class="glyphicon glyphicon-user"></span>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete, class: 'btn btn-warning btn-sm' do %>
            <span class="glyphicon glyphicon-log-out"></span>
          <% end %>
      </div>
      <div class="pull-right">
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: 'btn btn-primary' %>
          <%= link_to "Sign up", new_user_registration_path, class: 'btn btn-warning' %>
        <% end %>
      </div>

    </ul>
      <div class="container">
        <% if flash[:notice] %>
          <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:notice] %>
          </div>
        <% elsif flash[:error] %>
          <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:error] %>
          </div>
        <% elsif flash[:alert] %>
          <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <%= flash[:alert] %>
          </div>
        <% end %>

        <%= yield %>
      </div>
  </div>

  </body>
</html>
