<!DOCTYPE html>
<html>
<head>
  <title>WikiotaDev</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

      <ul class="nav nav-tabs">
        <li><%= link_to "Wikiota", root_path %></li>
        <li><%= link_to "About", about_path %></li>
        <li><%= link_to "List", articles_path %></li>

      <div class="pull-right user-info nav nav-tabs">
        <% if current_user %>
          <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </div>

      </ul>

      <%= yield %>
  </div>

</body>
</html>
